spring:
  application:
    name: orders
  datasource:
    url: jdbc:postgresql://localhost:5555/ecommerceorders
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
server:
  port: 8083

ecommerce:
  orders:
    clients:
      products:
        url: 'http://localhost:8081/produtos'
      clients:
        url:  'http://localhost:8082/clients'
